.input-box {
  max-width: 300px;
}
.input-select {
  max-width: 70px;
}
.action-btn {
  cursor: pointer;
}
@media (max-width: 840px) {
  .input-box {
    max-width: 250px;
  }
}
@media (max-width: 735px) {
  .input-box,
  .input-select {
    max-width: 100%;
  }
}
